docs
test
myenv
scrapenv

scrap_service/carlistmy_service/.env
scrap_service/carlistmy_service_null_scrap/.env
scrap_service/carlistmy_service_null_scrap/__init__.py
scrap_service/carlistmy_service_playwright/.env
scrap_service/mudahmy_service/.env
scrap_service/mudahmy_service_playwright/.env
scrap_service/imagedownload_service/.env
scrap_service/listing_tracker_service_carlistmy/.env
scrap_service/listing_tracker_service_carlistmy_playwright/.env
scrap_service/listing_tracker_service_mudahmy/.env
scrap_service/listing_tracker_service_mudahmy_playwright/.env

__pycache__

.idea/
scrap_service/imagedownload_service/storage
logs
*.html
*.png
scrap_test2_carlistmy

newenv/