DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_TABLE_SCRAP=cars_scrap
DB_TABLE_PRIMARY=cars
DB_TABLE_HISTORY_PRICE=price_history
INPUT_FILE="scrap_service/carlistmy_service/storage/input_files/carlistMY_scraplist.csv"
ENV=development
