DB_NAME=scrap_mudahmy_test
DB_USER=fanfan
DB_PASSWORD=cenanun
DB_HOST=localhost
DB_PORT=5432
DB_TABLE_SCRAP=cars_scrap
DB_TABLE_PRIMARY=cars
DB_TABLE_HISTORY_PRICE=price_history
INPUT_FILE="scrap_service/mudahmy_service_playwright/storage/input_files/mudahMY_scraplist.csv"
USE_PROXY=true
PROXY_SERVER=
PROXY_USERNAME=
PROXY_PASSWORD=
PROXY_MODE=none   # nilai bisa: none, oxylabs, custom
CUSTOM_PROXIES=
